#song-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:320px;
  /* border: grey 1px solid; */
  height:900px;
  background: white;
  padding-left: 150px;
  padding-right:150px;
  padding-top: 100px;
}

#container {
  display:flex;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

/* .bg-div {
  background-image: url(https://i.imgur.com/WLTSm3i.png);
  height:450px;
  z-index:1;
}

.bg-div2 {
  background-color: #777777;
  z-index:3;
  opacity:0.8;
  height:450px;
} */
