#email{
  display:flex;
  width:250px;
}
#first-name{
  display:flex;
  width:250px;
}
#last-name{
  display:flex;
  width:250px;
}
#username{
  display:flex;
  width:250px;
}
#password{
  display:flex;
  width:250px;
}
#confirm-password {
  display:flex;
  width:250px;
}
#bigbox {
  height: 450px;
  /* border:red 1px solid; */
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  width:300px;
}
#signup-submit-btn {

  padding:10px;
  border-radius: 4px;
  border:#ff652d 1px solid;
  background-color:#ff652d;
  color:white;
}

#errors-ul {
  list-style: none;
  color:red
}
