
#test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#placeholder-img {
  width:250px;
  height:250px;
}

#title-box {
  display: flex;
  align-self: center;
  font-size: 13px;
  width:150px;
}
