#edit-container {
  margin-top: 50px;
}

.song-edit-btn {
  font-size: 16px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7f50;
  color:white;
  border:none;
  border-radius: 5px;
  padding:7px
}

#edit-btn-container {
  display:flex;
  justify-content: space-between;
  width:250px;
}

#edit-song-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:350px;
  height:650px;
}

.edit-song-inputs {
  width:320px;
}
