#song-description{
  margin:10px 10px;
  padding-left: 40px;
  /* border:1px solid purple; */
}
#comment-input{
  width:96%;
  border:.5px solid grey;
  border-radius:3px;
}
#comment-submit-btn{
  width:5%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  background-color: #ff652d;
  color:white;
  border:none;
  margin-left: 5px;
  border-radius: 4px;
}
#comment-form{
  display:flex;
  justify-content: center;
  height:30px;
}
#comments-container{
  margin: 10px 250px 100px 250px;
  border:1px solid grey;
  background-color: #1a1a1a;
}

#comments-submission{
  margin:10px 10px;

  border-radius:1px;
  padding:10px 10px 10px 40px;
  background-color: #1a1a1a ;
}

#comments-display{
  margin:10px 10px;
  border:1px solid red;
}

.comment-delete-btn{
  background-color: #ff652d;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 3px 8px;
  margin-left: 10px;
}
