#song-description{
  margin:10px 10px;
  border:1px solid purple;
}


#comments-container{
  margin: 10px 150px 100px 150px;
  border:1px solid green;
}

#comments-submission{
  margin:10px 10px;
  border:1px solid blue;
}

#comments-display{
  margin:10px 10px;
  border:1px solid red;
}
