#list-ele {
  list-style-type: none;
  display:flex;
  flex-direction: column;
  /* border:blue 1px solid; */
  width: fit-content;
}

@media screen and (max-width:1200px){
  #list-container {
    display: grid;
  /* border: 1px red solid; */
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-items: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 100px;
  padding-bottom: 25px;
  justify-content: center;
  }
}
#curr-list-container {
  display: grid;
  /* border: 1px red solid; */
  grid-template-columns: repeat(6, 190px);
  grid-row-gap: 30px;
  /* grid-column-gap: 20px; */
  justify-items: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 20px;
  padding-bottom: 25px;
  justify-content: center;
}



#placeholder-img {
  width:154px;
  height:154px;
}

#title {
  font-size: 16px;
  width:154px;
}
#description {
  font-size: 14px;
  width:154px;
}

.your-songs-header {
  margin-top: 75px;
  margin-left: 860px;
}
