#list-ele {
  width:fit-content;
}

#list-container {
  display: grid;
  /* border: 1px red solid; */
  grid-template-columns: repeat(6, 190px);
  grid-row-gap: 30px;
  /* grid-column-gap: 20px; */
  justify-items: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 100px;
  padding-bottom: 25px;
  justify-content: center;
}
#play-button {
  display:none;
  width:50px;
  height:50px;
  border:none;
  background-image: url(https://i.imgur.com/5vs8qrA.png);
  background-size: cover;
  transition:.5s;
}
@media screen and (width<1200px){

}
@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}



#list-ele:hover #play-button {
  display: inline-block;
  position:fixed;
  align-self: center;
  border-radius: 100px;
  border-style: none;
  margin-top: 50px;
  transition:.25s;
  animation: fade-in .33s ;
}

#play-button:hover {
  cursor:pointer;
  background-image:url(https://i.imgur.com/O0N9ZpT.png)
}

#play-button:active {
  offset-position: bottom 5px;
}
