#list-ele {
  width:fit-content;
}
#allsongs-master-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex;
}
#allsongs-header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height:100px;
  width: 800px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left:394px
}

#list-container {
  display: grid;
  /* border: 1px red solid; */
  grid-template-columns: repeat(6, 190px);
  grid-row-gap: 30px;
  /* grid-column-gap: 20px; */
  justify-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 70px;
  padding-bottom: 25px;
  justify-content: center;

}
#play-button {
  display:none;
  width:50px;
  height:50px;
  border:none;
  background-image: url(https://i.imgur.com/5vs8qrA.png);
  background-size: cover;
  transition:.5s;
}
/* @media screen and (max-width:1200px){
  #list-container {
    display: grid;
    grid-template-columns: repeat(5, 190px);
    grid-row-gap: 30px;
    justify-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
    padding-bottom: 25px;
    justify-content: center;
  }
} */
@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}



#list-ele:hover #play-button {
  display: flex;
  position:static;
  align-self: center;
  border-radius: 100px;
  border-style: none;
  margin-top: -130px;
  transition:.25s;
  animation: fade-in .33s ;
}

#play-button:hover {
  cursor:pointer;
  background-image:url(https://i.imgur.com/O0N9ZpT.png)
}

#play-button:active {
  offset-position: bottom 5px;
}
#add-to-playlist-tbn {
  display:none;
}
#list-ele:hover #add-to-playlist-tbn{
  display: flex;
  position:static;
  align-self: flex-end;
  justify-self: flex-end;
  border-radius: 100px;
  border-style: none;
  margin-top: 29px;
  transition:.25s;
  animation: fade-in .33s ;
  color:grey;
  z-index:0
}
#list-ele #add-to-playlist-tbn:hover{
  color:white;
}
#add-song-list-ele{
  height:100px;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#smol-img{
  height:70px;
  width:70px;
}

#playlistaddsong-title{
  font-weight: 600;
  width:300px
}

#apt{
  color:rgb(255, 137, 34)
}
