#modal {
  position: fixed;
  top: -430px;
  right: 0;
  left: 0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide;
  animation-duration: .75s;
  z-index:5;
}

@keyframes slide {
  0% {bottom:800px};
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(172, 172, 172);
  opacity: .1;

}

#modal-content {
  position: absolute;
  background-color:white;
  height:fit-content;
  width:fit-content;
  /* border: blue 1px solid; */
  display:flex;
  flex-direction: column;
  padding:30px;
  border-radius: 20px;
  margin-top: 150px;
}



#close-modal {
  padding-left: 3px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  border:none;
}

#close-modal:hover {
  cursor: pointer;
}

#top-modal {
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
}
