#song-container {
  display:flex;
  justify-content: flex-start;
  margin: 10px;
  height: 50px;
  width:500px;
}

#playlist-details-master-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

#playlist-details-list-ele {

  list-style: decimal;
}

.playlist-details-spacer {
  width:25px;
}

.playlist-audio-btn {
  width:50px;
  height:50px;
  border:none;
  font-weight: bold;
  background-image: url(https://i.imgur.com/5vs8qrA.png);
  background-size: cover;
  transition:.5s;
}

.playlist-audio-btn:hover {
  cursor:pointer;
  background-image:url(https://i.imgur.com/O0N9ZpT.png)
}
