#song-container {
  display:flex;
  justify-content: flex-start;
  margin: 10px;
  background-color: bisque;
  height: 50px;
  width:600px;
}

#playlist-details-master-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

#playlist-details-list-ele {

  list-style: decimal;
}

.playlist-details-spacer {
  width:25px;
}
