#song-container {
  display:flex;
  justify-content: flex-start;
  margin: 10px;
  height: 50px;
  width:500px;
}

#playlist-details-master-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

#playlist-details-list-ele {

  list-style: decimal;
}

.playlist-details-spacer {
  width:25px;
}

.playlist-audio-btn {
  display:none;
  width:40px;
  height:40px;
  border: #ff652d .5px solid;
  border-radius: 50%;
  font-weight: bold;
  background-image: url(https://i.imgur.com/5vs8qrA.png);
  background-size: cover;
  opacity: .6;
}

.playlist-audio-btn:hover {
  cursor:pointer;
  opacity:1;
  animation: fade-in .5s;
  background-image:url(https://i.imgur.com/O0N9ZpT.png)
}
@keyframes fade-in {
  0%    { opacity: .6; }
  100%  { opacity: .9; }
}
#song-container:hover #playlistdetail {
  display: flex;
  margin-right: 15px;
}
