#list-ele {

  width:fit-content;

}
.create-playlist-btn{
  display:flex;
  justify-content: center;
  /* margin-left:141px; */
}

#curr-playlist-container {
  display: grid;
  /* border: 1px red solid; */
  grid-template-columns: repeat(6, 190px);
  grid-row-gap: 30px;
  /* grid-column-gap: 20px; */
  justify-items: center;
  margin-bottom: 200px;
  padding-bottom: 25px;
  justify-content: center;
}



#placeholder-img {
  width:154px;
  height:154px;
}

#title {
  font-size: 16px;
  width:154px;
}
#description {
  font-size: 14px;
  width:154px;
}

#your-playlist-master-container {
  padding-top: 30px;

}

.playlist-header-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  margin-top: 15px;
  width:100%;
  padding-left:50px;
  padding-right: 50px;
}

#createplaylistbtn{
  margin-top: -70px;
}
