#welcome-container {
  background-color: black;
  z-index:3;
  opacity: 0.8;
  height:750px;
  display:flex;
  flex-direction: column;
  color:white;
  align-items: center;
  font-size: x-large;
  justify-content: center;
}
#whatever {
  background-image: url("https://i.imgur.com/3IDBrcC.png://i.imgur.com/5CxvQKb.png");
  z-index: 1;
  height:750px;
  width:1265px;

}

#page-container {
  display:flex;
  justify-content: space-around;
}
#para {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
