#welcome-container {
  background-color: black;
  z-index:3;
  opacity: 0.7;
  height:750px;
  display:flex;
  flex-direction: column;
  color:white;
  align-items: center;
  font-size: x-large;
  justify-content: center;
  line-height: 1.7;
  margin-top: 0px;
}
.middle-container {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 1265px;
  padding-left: 60px;
  padding-right:50px;
  margin-top: 50px;
}

.bottom-container {
  margin-top: -300px;
  background-image: url("https://i.imgur.com/zsL5rFt.png");
  width: 1265px;
  height:450px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;

}
.bottom-text{
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  z-index:4;
}
#shader {
  background-color: black;
  z-index:3;
  opacity: 0.8;
  width: 1265px;
  height:450px;
  color:white;

}
#whatever {
  background-image: url("https://i.imgur.com/KP00BNh.jpg");
  z-index: 1;
  height:750px;
  width:1265px;
  margin-top: 40px;
}

#page-container {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#para {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

#list-el {
  width:fit-content;
  position:relative;
}

#play-btn {
  /* display:none; */
  position: absolute;
  top:30%;
  left:34%;
  width:50px;
  height:50px;
  border-radius: 100px;
  border: rgb(223, 145, 0) 2px solid;
  background-image: url(https://i.imgur.com/5vs8qrA.png);
  background-size: cover;
  opacity: 0;
  /* transition:.5s; */
}



#list-el:hover #play-btn {

  opacity: 1;

}

#play-btn:hover {
  cursor:pointer;
  border:red 1px solid;
  background-image:url(https://i.imgur.com/O0N9ZpT.png)
}

/* #play-btn:active {
  offset-position: bottom 5px;
} */
