#song-details-play-button {
  /* display:none; */
  width:50px;
  height:50px;
  border:none;
  background-image: url(https://i.imgur.com/5vs8qrA.png);
  background-size: cover;
}

#banner-container {
  padding:25px;
  margin-top: 100px;
  background: linear-gradient(175deg, #ffafbd 0%, #ffc3a0 100%);
  display:grid;
  grid-template-columns: auto auto 350px;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "a a b"
    "c c b"
}

#song-details-image{
  grid-area: b;
}

#banner-top{
  grid-area: a;
}

#banner-top-left{
  display:flex;

}
#banner-song-details{
  display:flex;
  flex-direction: column;

}
