#nav-container {
  display: flex;
  position:fixed;
	background-color: #333;
  justify-content: space-between;
  height:50px;
  width:100%;
  top:0;
  left:0;
  z-index:10;
}

.container{
  display:flex;
  justify-content: space-between;
  width:500px;
  position: relative;
  margin-left: 10px;
}
#logos {
  display:flex;
  height:50px;
}

#nav-home {
  display:flex;
  font-size:15px;
}

.nav-ele:hover {
  color: #fff;
}
.nav-ele {
  display:flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: rgb(153, 153, 153);
  /* font-size: small; */
  border: none;
  height:98%;
  width:fit-content;
  font-size: 15px;

}
.nav-link {
  /* border-left:black 1px solid;
  border-right: black 1px solid;
  border-top: none;
  border-bottom: none; */

  align-items: center;
  align-content: center;
}
.active {
  background-color: black;
  color:white
}
.nav-ele:focus {
  background-color: rgba(21, 21, 21, 0.966);
  color: white
}
/* amanda saves my css */
.something {
  display:flex
}
.profile-dropdown {
  color: black;
  cursor: default;
}
.profile-dropdown li {
  display: flex;
  list-style-type: none;
}
test{
  color:rgb(215, 215, 215)
}

#logout-btn {
  color:#777;
  cursor: pointer;
  border:none;
}
#logout-btn:hover {
  color: #f50;
  cursor: pointer;
}
.profile-dropdown {
  position: absolute;
  width: 220px;
  /* height: 80px; */
  top: 50px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  border: #333 1px solid;
  display: flex;
  flex-direction: column;
  padding: 2px 0 4px 4px;
  box-sizing: border-box;
  width:199px;
  margin-top: 0;
  margin-left: 300px;
}

#prfile-btn{
  background-color: #333;
  color: #fff;
  border:none;
  margin-right: 25px;
}
