#nav-container {
  display: flex;
	background-color: #555555;
  justify-content: space-between;
}

#logo {
  display:flex;
  height:30px;
}

#nav-home {
  display:flex;
  font-size:15px;
}

#current-songs {
  display:flex;
  justify-content: center;
  align-items: center;
}
/* amanda saves my css */
.something {
  display:flex
}
