#input-container {
  height: 250px;
  /* border:red 1px solid; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width:300px;
}
#login-logo {
  position: relative;

}
#login-logo img {
  /* position: flex-start; */
  height: 60px;
  width: 310px;

  background-repeat: no-repeat;
}

#user {
  display:flex;
  width:250px;
}

#pass {
  display:flex;
  width:250px;
}

#submit-btn {
  font-size: 16px;
  display:flex;
  height: 23px;
  padding:9px;
  align-items: center;
  justify-content: center;
  background-color: #ff7f50;
  color:white;
  border:none;
  border-radius: 5px;
}
#sign-in-btns {
  display:flex;
  width:250px;
  justify-content: space-evenly;
  align-items: space-evenly;
}
#login-container {
  display:flex;
  justify-content: center;

}
